ENV_NAME=production
PORT=3000

MYSQL_HOST=database
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=secret_root_password_prod
MYSQL_DATABASE=node_exercise_db_prod
MYSQL_USER=my_user_prod
MYSQL_PASSWORD=my_password_prod

LOG_LEVEL=info
SQL_LOGGING=true